:root {
	--bg-dark-color : #1A1A1A;
	--bg-light-color : #F5F5F5;
	--text-dark-color : #1B1B1B;
	--text-light-color : #F4F4F4;
	--gold-gradient : linear-gradient(90deg,rgba(203, 163, 101, 1) 0%, rgba(169, 146, 125, 1) 100%);
	--primary-gold : rgba(203, 163, 101, 10);
	--bg-dark-second : #2A2A2A;
	--bg-light-second : #EAEAEA;
}

body {
	background-color: var(--bg-dark-color);
}

body:has(#color-theme-toggle:checked) {
	background-color: var(--bg-light-color);
}

body:has(#color-theme-toggle:checked) .text{
	color: var(--text-dark-color);
}

#color-theme-toggle {
	display: none;
}

.text {
	color: var(--text-light-color);
}

.logo {
	font-family: Georgia, 'Times New Roman', Times, serif !important;
	position: relative;
	display: inline-block;
	text-decoration: none;
}

.main-text {
	font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.logo::after {
	content: "";
	position: absolute;
	left: -10%;
	bottom: -0.75rem;
	width: 120%;
	height: 1rem;
	border-top: 0.12rem solid currentColor;
	border-radius: 50%;
}

.sub-text {
	font-family: monospace;
	text-transform: uppercase;
}

/* 1. Hide the Sun (light icon) by default */
.light-icon-button {
	display: inline-block;
}

/* (Optional) Ensure the Moon (dark icon) is visible by default */
.dark-icon-button {
	display: none;
}

/* 2. When the checkbox is CHECKED, hide the Moon */
body:has(#color-theme-toggle:checked) .dark-icon-button {
	display: inline-block;
}

/* 3. When the checkbox is CHECKED, show the Sun */
body:has(#color-theme-toggle:checked) .light-icon-button {
	display: none;
}

.theme-button {
	border: 0.25rem solid transparent;
	width: fit-content;
	padding: 0.5rem;
	background:
		linear-gradient(var(--bg-dark-color), var(--bg-dark-color)) padding-box,
		var(--gold-gradient) border-box;
	border-radius: 1rem;
	box-shadow: 0 0 3rem 0.25rem var(--primary-gold);
}

body:has(#color-theme-toggle:checked) .theme-button {
	background:
		linear-gradient(var(--bg-light-color), var(--bg-light-color)) padding-box,
		var(--gold-gradient) border-box;
}

.first-name {
	color: var(--primary-gold);
}

.hero-img {
	width: 70%;
	border-radius: 70%;
}

.hero-img-col {
	/* border: magenta solid 1px; */
	width: 50%;
	height: auto;
	padding: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.section {
	background-color: var(--bg-dark-second);
	border-radius: 10px;
	height: fit-content;
	margin: 1em;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.hero-text-col {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 30px;
}

.last-name {
	display: block !important;
	width: fit-content !important;
	margin-left: 1.5em !important;
}

.name {
	font-size:150%;
}

.hero-text-col p {
	font-size: 100%;
}

body:has(#color-theme-toggle:checked) .section {
	background-color: var(--bg-light-second);
}

body:has(#color-theme-toggle:checked) .first-name {
	color: var(--primary-gold);
}

.about-section h1 {
	color: var(--primary-gold);
}

.columns {
	display: flex;
	/* flex-direction: column; */
}

.about-columns {
	/* display: flex; */
	margin: 2%;
	justify-content: center;
	justify-items: center;

}

.column {
	margin: 2%;
	/* border: magenta 1px solid; */
	/* width: 50%; */
}

.about-column {
	background: var(--gold-gradient);
	padding: 2%;
	border-radius: 1rem;
	color: var(--text-light-color);
	/* background-color: var(--gold-gradient); */
	/* background:
		linear-gradient(var(--bg-light-color), var(--bg-light-color)) padding-box,
		var(--gold-gradient) border-box; */
}

.column h2 {
	font-size: 100%;
}

.about-column h2 {
	font-size: 150%;
}

.column p {
	font-size: 70%;
}

header {
	margin: auto 1rem;
}

.section-title {
	color: var(--primary-gold);
}

.skills-column {
	display: flex;
	padding: 2%;
}

.skills {
	display: flex;
	flex-wrap: wrap;
	padding: 5%;
}

.skill {
	margin: 2%;
	border: var(--primary-gold) solid 2px;
	border-radius: 2rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	font-size: 70%;
	width: fit-content;
}

.skill:hover {
	box-shadow: 0 0 0.5rem 0.5rem var(--primary-gold);
}

.projects-section {
	background: var(--gold-gradient);
}

.projects-section h1 {
	color: var(--bg-dark-second);
}

.project-card {
	display: flex;
	/* border: magenta 1px solid; */
	padding: 2%;
}

.project-card:hover {
	border: var(--bg-dark-second) solid 3px;
	border-radius: 4rem;
}

.project-card .project-card-img {
	width: 50%;
	justify-content: center;
	justify-items: center;
	height: 100%;
	margin: 5%;
}

.project-card .project-card-text {
	width: 50%;
}

.project-card-img img {
	width: 100%;
	height: 100%;
}

.project-technologies {
	display: flex;
	flex-wrap: wrap;
}

.technology {
	margin-right: 2%;
	border: var(--text-dark-color) solid 3px;
	padding: 0.5%;
	border-radius: 2rem;
	font-size: small;
}

.project-card a {
	background-color: var(--bg-light-second);
	padding: 2%;
	border-radius: 2rem;
	color: var(--bg-dark-second);
	text-decoration: none;
}

form {
	display: flex;
	flex-direction: column;
}

.input-field {
	display: flex;
	flex-direction: column;
}

.input-field input {
	border-radius: 0.5rem;
	border: none;
}

form button {
	margin-top: 5%;
	background-color: #3F8E00;
	border: none;
	color: var(--text-light-color);
	border-radius: 0.5rem;
}

#message {
	height: 4rem;
}
